.User-container{
    display: flex;
    flex-direction: column;
    flex: 0.8;
    margin: 5px;
    padding: 5px;
}

.user-header{
    display:flex;
    background-color: white;
}

.List-items{
    display: flex;
    align-items: center;
    background-color: white;
    transition-duration: 0.5s;
}

.List-items:hover{
    background-color: rgb(172, 216, 255);
}

.User-list{
    flex: 1;
    overflow: scroll;
    scrollbar-width: none;
}

.User-list::-webkit-scrollbar{
    display: none;
}