.sidebar{
    flex: 0.2;
    display: flex;
}

.S-header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 10px;
    margin: 5px 0px 5px 5px;
}


.searchbar{
    padding: 5px;
    display: flex;
    background-color: white;
    margin-top: 5px;
    border-radius: 10px;
}

.searchbox{
    outline-width: 0;
    border: 0;
    padding-left: 5px;
}

.container{  
    display: flex;
    flex-direction: column;
}

.chats{
    padding: 5px;
    background-color: white;
    margin: 5px 0px 5px 0px;
    border-radius: 10px;
    flex:1;
}


