*{
  margin: 0px;
}
.App{
  background-color: rgb(116, 169, 234);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width:40em) {
  .container{
    display: none;
  }
  .timeline{
    flex: 1;
  }
  .home{
    height: 100vh;
    width: 100vw;
  }
  .l-container{
    height: 80vh;
  }
  .Welcome-Container{
    flex: 1;
    margin-right: 10px;
  }
  .User-container{
    flex: 1;
  }
  .Group-container{
    flex: 1;
  }


}